* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f2f7;
  color: #333;
}

.status {
  text-align: center;
  margin: 20px 0;
}

.logo {
  width: 55px;
}

.container {
  width: 55%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  margin: 30px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 1.8em;
  color: #333;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.2em;
  color: #007bff;
  margin-bottom: 20px;
  text-align: center;
}

.team-info h3 {
  font-size: 1.1em;
  color: #333;
  text-align: left;
  margin-bottom: 10px;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow-x: auto;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th {
  background-color: #f3f3f3;
  color: #333;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

td {
  padding: 8px;
  text-align: center;
  font-size: 13px;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .container {
    width: 80%;
    padding: 15px;
  }

  .logo {
    width: 50px;
  }

  th,
  td {
    padding: 6px;
  }
  .table-container {
    overflow-x: auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 10px;
  }

  .logo {
    width: 45px;
  }

  th,
  td {
    padding: 5px;
  }

  th {
    font-size: 13px;
  }

  td {
    font-size: 12px;
  }
  .table-container {
    overflow-x: auto;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
    padding: 10px;
  }

  .logo {
    width: 40px;
  }

  th,
  td {
    padding: 4px;
    font-size: 12px;
  }

  .table-container {
    overflow-x: auto;
  }

  table {
    width: 100%;
    display: block;
  }
}
