* {
  box-sizing: border-box;
  margin: 1;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f2f3f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  color: black;
}
.container {
  width: 350px;
  text-align: center;
}
.logo img {
  width: 50px;
  margin: 10px;
  margin-bottom: 20px;
}
.signin-box {
  background-color: #ffffff;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.signin-title {
  font-size: 1.5em;
  font-weight: bold;
  background-color: #1a2229;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #f7faff;
}

/* .recaptcha {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #f7faff;
  }
  .recaptcha input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #2abf9e;
  }
  .recaptcha label {
    font-size: 0.9em;
    color: #555;
  }
  .recaptcha-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7em;
    color: #888;
  }
  .recaptcha-info img {
    width: 25px;
    height: auto;
    margin-bottom: 2px;
  } */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #888;
  margin-bottom: 15px;
}
.signin-button {
  background-color: #2abf9e;
  color: #ffffff;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.signin-button:hover {
  background-color: #259e84;
}
