* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f7;
}

.logo {
  width: 70px;
  height: auto;
  margin-top: 120px;
}

h2 {
  font-weight: 200;
  font-size: 35px;
}

.head {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 35px;
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
}

#searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.search-table {
  width: 100%;
  border-collapse: collapse;
}

.search-table th,
.search-table td {
  padding: 10px;
  border: 1px solid #eee;
  text-align: left;
}

.search-table th {
  background-color: #f0f0f0;
}

.search-table tr:hover {
  background-color: #f9f9f9;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .container {
    width: 80%;
    padding: 15px;
  }

  .logo {
    width: 50px;
  }

  th,
  td {
    padding: 6px;
  }
  .table-container {
    overflow-x: auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 10px;
  }

  .logo {
    width: 45px;
  }

  th,
  td {
    padding: 5px;
  }

  th {
    font-size: 13px;
  }

  td {
    font-size: 12px;
  }
  .table-container {
    overflow-x: auto;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
    padding: 10px;
  }

  .logo {
    width: 40px;
  }

  th,
  td {
    padding: 4px;
    font-size: 12px;
  }

  .table-container {
    overflow-x: auto;
  }

  table {
    width: 100%;
    display: block;
  }
}
