* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f2f7;
}

.logo {
  width: 55px;
  margin: 20px;
}

.container {
  width: 60%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin: 30px;
  margin-left: 20%;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.button {
  padding: 8px 16px;
  color: white;
  background-color: #5cb3b8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #4fa4a9;
}

.dropdown-content {
  display: none;
  margin-top: 10px;
}
